:root {
    --primary-color: #5598f6;
}

@font-face {
    font-family: "Comfortaa";
    src: url("public/fonts/Comfortaa-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Comfortaa";
    src: url("public/fonts/Comfortaa-Light.ttf") format("truetype");
    font-weight: 300; /* Light */
}

@font-face {
    font-family: "Comfortaa";
    src: url("public/fonts/Comfortaa-Medium.ttf") format("truetype");
    font-weight: 500; /* Medium */
}

@font-face {
    font-family: "Comfortaa";
    src: url("public/fonts/Comfortaa-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url("public/fonts/Comfortaa-SemiBold.ttf") format("truetype");
    font-weight: 600; /* SemiBold */
}

/* UTILS */
body {
    font-family: "Comfortaa", sans-serif;
    background-color: #e7e7e7;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.h-100v {
    height: 100vh;
}

.mt-10px {
    margin-top: 10px;
}

.mt-25px {
    margin-top: 25px;
}

.mb-10px {
    margin-bottom: 10px;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-center-start {
    display: flex;
    justify-content: start;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-center-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
#header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#header-margin {
    height: 80px;
}

.logo {
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.public {
    color: #171717;
}

.chat {
    color: var(--primary-color);
    margin-left: -0.585em;
}

/* NAVIGATION */
nav * {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    border: 0;
    background-color: transparent;
}

nav *:hover {
    cursor: pointer;
}

/* FORMS */
form.default {
    background-color: #efefef;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
}

form.default input {
    border: 1px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 12px 20px;
    width: 100%;
}

form.default button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
}

form.default button:hover {
    background-color: var(--primary-color);
}

form.default a {
    color: #101010;
    text-decoration: none;
    font-size: 0.8em;
}

form #error {
    color: #d20505;
}

form#message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0 20px 0;
}

form#message input {
    height: 20px;
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 30px;
    margin-bottom: 7px
}

form#message input:focus {
    outline: none;
}

form#message button {
    height: 30px;
    font-size: 12px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    align-items: center;
    padding: 0 25px;
}

/* MESSAGE */
.message-box {
    width: 100%;
    font-size: 15px;
}

.message-box .author {
    margin: 0 0 3px 3px;
}

.message-box .content {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

.message-box .footer {
    margin: 0 5px;
}

.message-box .footer button.remove {
    color: red;
    background-color: transparent;
    border: none;
    padding: 0;
}
